/* src/Components/Header.css */
.header {
    background-color: #8b0000; /* Dark red background color */
    color: white; /* Text color */
    padding: 15px; /* Increased padding for a larger header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Arial', sans-serif; /* Example font, replace with your preferred font */
  }
  
  .logo {
    font-size: 28px; /* Increased font size for the logo */
    font-weight: bold;
    margin-right: 20px;
  }
  
  .login-link {
    display: flex;
    align-items: center;
  }
  
  .login-link a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
  }
  
  /* Add logo styles */
  .logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  